# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# IDE / Editor specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-workspace

# Secrets - Important!
credentials.json
config.ini
*.env
secrets.py
